/* Enter your custom styles here */
.main-container{
  margin: 20px 0;
}

.card-style {
  background-color: #d4edda; /* greenish */
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
}

.card-style1 {
  background-color: #f8d7da; /* reddish */
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
}

.inside-card{

}

.pannle-style{
  margin: auto;
  padding: 10px 0px;
}

.dialog-box{
  width: 50%;
  display: flex;
}